<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="IISProcessBehavior" type="IISProcessScheduler.Configuration.XmlSerializationSectionHandler, IISProcessScheduler" />
  </configSections>
  <IISProcessBehavior type="IISProcessScheduler.Configuration.IISProcessBehavior, IISProcessScheduler" WarmUpInterval="5" LogDisplayHistory="25">
    <TouchUrls>
      <TouchUrl Url="http://localhost/IISProcessScheduler/CallTest.aspx" Interval="1" TimeOut="5000" />
      <TouchUrl Url="http://localhost/IISProcessScheduler/CallTest2.aspx" Interval="2" TimeOut="5000" />
    </TouchUrls>
</IISProcessBehavior>
</configuration>
