<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="IISProcessBehavior" type="IISProcessScheduler.Configuration.XmlSerializationSectionHandler, IISProcessScheduler" />
  </configSections>
  <IISProcessBehavior type="IISProcessScheduler.Configuration.IISProcessBehavior, IISProcessScheduler" WarmUpInterval="0" LogDisplayHistory="25">
    <TouchUrls>
      <TouchUrl Url="http://localhost/IISProcessScheduler/CallTests/CallTest.aspx" Interval="1" TimeOut="5000" />
      <TouchUrl Url="http://localhost/IISProcessScheduler/CallTests/CallTest2.aspx" Interval="2" TimeOut="5000" />
    </TouchUrls>
  </IISProcessBehavior>
    <system.web>
      <authentication mode="Windows" />
      <authorization>
        <deny users="?"/>
      </authorization>
        <compilation debug="true" targetFramework="4.0" />
      <pages theme="Default" />
    </system.web>
</configuration>
