<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key ="Interval" value="1" />
    <add key ="TouchUrl" value ="http://localhost/IISProcessScheduler/CallTest.aspx" />
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
